body{
    margin:0px;
    padding:0px;
    font-family: sans-serif;
    background-image: url("/images/background.png");
    background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}
.boxes{
    width: 350px;
    padding:30px;
    padding-bottom:0px; 
    margin-top:20%;
    margin-left:70%;
    transform: translate(-50%,-50%);
    background:none;
    text-align: center;

}
.boxes h1{ 
    color:rgb(71, 71, 71);
    font-weight: 400;
    font-size:40px;
}

.boxes h3{ 
    color:white;
    font-weight: 500;
}

.boxes input[type="email"],.boxes input[type = "password"],.boxes input[type = "text"]{
    border: 0;
    background:none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border:1.5px solid #3498db;
    padding:14px 10px;
    width:250px;
    outline:none;   
    color:rgb(80, 80, 80);
    border-radius:24px;
    transition: 0.25s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);

}
.boxes input[type="email"]:focus,.boxes input[type = "password"]:focus,.boxes input[type = "text"]:focus{
  width: 300px; 
  border-color:#0dc559;
}
.btn-input{
    border: 0;
    background-color: #5d97f4; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #5d97f4, #11dba5); 
    display: block;
    margin: 20px auto;
    text-align: center;
    border:none;
    padding:14px 10px;
    width:140px;
    outline:none;
    color:white;
    border-radius:24px;
    transition: 0.25s;
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    

}
.btn-input:hover{
   background:#3498db;
}